// * Base Colors

$dark_base:          #2c3531;
$dark_base_contr:    #69716e;
$dark_base_faded:    #656c6a;
$dark_accent:        #116466;
$dark_accent_contr:  #3f8f92;
$light_base:         #d9b08c;
$light_base_contr:   #a48160;
$light_accent:       #ffcb9a;
$light_accent_contr: #c09467;
$light_hard:         #06B5B5;
$light_hard_contr:   #98aba7;
